# Backup Files
*.cpp~
*.hpp~
*.h~
*.md~
*.py~
*.yaml~

# Other files
*.swp
*.pyc
conan_imports_manifest.txt
*.so
*.a
*.data
bin/*
build/*
.directory/*
.settings/*
.vscode/*
/bin/
/build/
/.doc/
*.bak
CMakeUserPresets.json

